/* con coma se carga de izquiuerda a derecha hasta que encuentre una */
p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    /*font weight DEFINE EL GRUESO */
    font-weight: 700;
    font-style: italic;
    text-align: justify;
    line-height: 1;
}
span{
    
    text-decoration: overline  underline;
    text-transform: capitalize;
}
h1	{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}